# 라이브러리
unstructured[all-docs]
pillow
pydantic
lxml
pillow
matplotlib
chromadb
tiktoken
pytesseract
langchain_core
langchain_openai
langchain_community
loguru
IPython
pdf2image
pysqlite3-binary

# 최신 버전 필요?
langchain
openai
langchain-experimental
